#list{
    list-style-type: none;
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-bottom: 2%;
}

#li{
    /* flex-basis: 30%; */
    margin-top: 2%;
   
  
}


#card{
    align-self: stretch;
    box-shadow: 2px 2px 2px 2px grey;
    vertical-align: top;
    height: 100%;
}